<script setup>
const headers = useRequestHeaders()
const config = useRuntimeConfig()
const route = useRoute()

const { data: post, error } = await useFetch(`/api/posts/${route.params.slug}`, {
    headers,
    baseURL: config.API_BASE_URL,
    transform: (post) => post.data
})

const { data: links } = await useFetch('/api/links', {
    query: {
        populate: '*'
    },
    transform: (links) => links.data,
    baseURL: config.API_BASE_URL
})

const renderContent = () => {
    return post.value.content?.replace(/<a.*?href="(.+?)".*?>(.+?)<\/a>/gim, (match, href, name) => {
        let link = links.value.find(link => link.key === href.split(':')[1])
        return (link) ? `<a id="${link.uid}" href="${link.url}" target="_blank">${name || link.name}</a>` : match
    })
}
</script>

<template>
    <Header/>
    <article class="section article">
        <!--        <img src="images/temp/article.jpg" alt="" class="article__image">-->
        <div class="article__data">
            <div class="rating article__rating" data-star="5"></div>
            <!--            <div class="article__type">{{ post.category.name }}</div>-->
            <div class="article__date">22.07.21</div>
        </div>
        <h1 class="section__h1 article__h1">{{ post.name }}</h1>
        <div class="article__desc">
            {{ post.desc }}
        </div>
        <a href="/" class="button button--primary">Trade now</a>
        <div class="article__container">
<!--            <aside class="article__aside">-->
<!--                {% include "blocks/anchors.twig" %}-->
<!--            </aside>-->
            <div class="article__content" v-html="renderContent()"></div>
<!--            <aside class="article__aside">-->
<!--                {% include "blocks/support.twig" %}-->
<!--            </aside>-->
        </div>
    </article>
</template>
