<template>
    <footer class="section footer">
        &copy 2022 - 2023. PBN
    </footer>
</template>

<style lang="sass">
.footer
    padding:
        top: 1.5rem
        bottom: 1.5rem
    border-top: 1px solid #2b394e33
    background-color: rgba(#eee, .5)
    margin-top: 2rem
    text-align: center
</style>
