<template>
    <header class="section header">
        <NuxtLink to="/" class="header__logo">PBN</NuxtLink>
        <nav class="nav">
            <div class="nav__switcher">
                <span class="nav__line"></span>
                <span class="nav__line"></span>
                <span class="nav__line"></span>
            </div>
            <ul class="nav__list">
<!--                <li class="nav__item">-->
<!--                    <a href="/" class="nav__link">Compare brokers</a>-->
<!--                </li>-->
<!--                <li class="nav__item nav__item&#45;&#45;dropdown">-->
<!--                    <a href="/reviews" class="nav__link">Reviews</a>-->
<!--                    <ul class="dropdown">-->
<!--                        <li class="dropdown__item">-->
<!--                            <a href="/reviews/e-toro-one-of-the-best-broker-1" class="dropdown__link">-->
<!--                                eToro — one of the best broker-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="/reviews/e-toro-one-of-the-best-broker-1" class="dropdown__link">-->
<!--                                eToro — one of the best broker </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li class="nav__item">
                    <NuxtLink to="/news" class="nav__link">News</NuxtLink>
                </li>
                <li class="nav__item">
                    <NuxtLink to="/reviews" class="nav__link">Reviews</NuxtLink>
                </li>
                <li class="nav__item">
                    <NuxtLink to="/contacts" class="nav__link">Contacts</NuxtLink>
                </li>
<!--                <li class="nav__item">-->
<!--                    <a href="/" class="button button&#45;&#45;primary nav__button">For professional</a>-->
<!--                </li>-->
            </ul>
        </nav>
    </header>
</template>
