<script setup>
const config = useRuntimeConfig()

const { data: contacts } = await useFetch('/api/contact', {
    baseURL: config.API_BASE_URL,
    transform: (contacts) => contacts.data
})

</script>

<template>
    <div class="page__container">
        <div class="page__content">
            <Header/>
            <section class="section contacts">
                <h1 class="section__h1">Contacts</h1>
                <div class="contacts__container">
                    <div class="contacts__phone">
                        <a :href="`tel:${contacts.phone}`">{{ contacts.phone }}</a>
                    </div>
                    <div class="contacts__address">
                        {{ contacts.address }}
                    </div>
                    <form class="contacts__form">
                        <input type="text" class="contacts__input" placeholder="Name">
                        <input type="email" class="contacts__input" placeholder="Email">
                        <textarea placeholder="Message" class="contacts__textarea"></textarea>
                        <button type="button" class="button button--primary">Send Message</button>
                    </form>
                </div>
            </section>
            <Footer/>
        </div>
    </div>
</template>

<style>

.contacts__container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacts__phone {
    font-size: 2rem;
    font-weight: bold;
}

.contacts__address {
    font-size: 1.25rem;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 32rem;
    margin-top: 2rem;
}

.contacts__input, .contacts__textarea {
    padding: .75rem 1.5rem;
    font-family: inherit;
    border-radius: .5rem;
    outline: none;
    border: 1px solid rgba(43, 57, 78, .5)
}

.contacts__textarea {
    resize: none;
    height: 6rem;
}
</style>
