<script setup>
const headers = useRequestHeaders()
const config = useRuntimeConfig()

const { data: page } = await useFetch('/api/home', {
    baseURL: config.API_BASE_URL,
    transform: (page) => page.data
})

const { data: posts } = await useFetch('/api/posts', {
    headers,
    baseURL: config.API_BASE_URL
})
</script>

<template>
    <div class="page__container">
        <div class="page__content">
            <Header/>
            <section class="section home">
                {{ page.description }}
            </section>
            <section class="section news" v-if="posts">
                <h1 class="section__h1">Posts</h1>
                <ul class="news__list">
                    <li class="news__item" v-for="post of posts.data">
                        <img :src="`${config.API_BASE_URL}${post.image?.url}`" alt="" class="news__image">
                        <div class="news__content">
                            <div class="news__name">{{ post.name }}</div>
                            <div class="news__desc">
                                the earlier you start trading, the faster you will reach your financial goal.
                            </div>
                            <div class="news__tag">Bitcoin</div>
                        </div>
                        <NuxtLink :to="`/${post.category.slug}/${post.slug}`" class="news__link"></NuxtLink>
                    </li>
                </ul>
            </section>
            <Footer/>
        </div>
    </div>
</template>

<style lang="sass">
.home
    margin-top: 4rem
</style>
